.portfolio {
  position: relative;
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    gap: 2rem;
    .portfolio__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: #181818;
      padding: 2rem;
      text-align: center;

      .image {
        display: block;
        width: 250px;
        height: 150px;
        overflow: hidden;

        position: relative;
        border-radius: 1px;
        margin: 0 auto;
        img {
          left: 0;
          top: 0%;
          width: 100%;
          height: auto;
          position: absolute;
          z-index: 0;
          margin: 0;
          padding: 0;
          -webkit-transition: bottom 3s;
          -moz-transition: bottom 3s;
          -ms-transition: bottom 3s;
          -o-transition: bottom 3s;
          transition: top 3s;
          &:hover {
            top: -300%;
            -webkit-transition: all 3s;
            -moz-transition: all 3s;
            -ms-transition: all 3s;
            -o-transition: all 3s;
            transition: all 3s;
          }
        }
      }
      &:nth-of-type(2) {
        .image {
          img {
            &:hover {
              top: -345%;
            }
          }
        }
      }
      &:nth-of-type(3) {
        .image {
          img {
            &:hover {
              top: -390%;
            }
          }
        }
      }
    }
  }
}
